# Entornos virtuales
envCalcu/
*.env

# Archivos de compilación
__pycache__/
*.py[cod]
*.so

# Archivos de migración de bases de datos locales
migrations/
instance/

# Archivos de configuración de IDEs y sistemas operativos
.vscode/
.idea/
.DS_Store

# Bases de datos SQLite
*.sqlite
*.db
