{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <header>
        <h1>Add Location</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li><a href="{{ url_for('dashboard.dashboard') }}">Empresa Dashboard</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        </ul>
    </nav>
    <main>
        <form action="{{ url_for('dashboard.add_ubicaciones') }}" method="POST">
            <div class="mb-3">
                <label for="latitud" class="form-label">Latitud</label>
                <input type="text" class="form-control" id="latitud" name="latitud" required>
            </div>
            <div class="mb-3">
                <label for="longitud" class="form-label">Longitud</label>
                <input type="text" class="form-control" id="longitud" name="longitud" required>
            </div>
            <div class="mb-3">
                <label for="direccion" class="form-label">Direccion</label>
                <input type="text" class="form-control" id="direccion" name="direccion" required>
            </div>
            <div class="mb-3">
                <label for="es_propia" class="form-label">Es Propia</label>
                <input type="checkbox" class="form-check-input" id="es_propia" name="es_propia">
            </div>
            <button type="submit" class="btn btn-primary">Add Location</button>
        </form>
    </main>
{% endblock%}