{% extends "layout.html" %}

{% block content %}
<div class="container">
    <!-- Primera Sección -->
    <section class="hero">
        <h1>¿Qué es Glooba?</h1>
        <p>
            Nuestra aplicación web se dedica a conectar a los consumidores con ofertas, descuentos y servicios
            ofrecidos por empresas comprometidas con la sustentabilidad. A través de una plataforma interactiva y fácil 
            de usar, buscamos fomentar el consumo responsable y apoyar a las empresas que adoptan prácticas sostenibles.
        </p>
    </section>

    <!-- Subsecciones -->
    <div class="subsections">
        <div class="subsection right-aligned">
            <h2>Misión</h2>
            <p>
                Facilitar la transición hacia un consumo más responsable y sostenible, conectando a las personas con
                ofertas, descuentos y servicios de empresas comprometidas con el medio ambiente. A través de nuestra
                plataforma, buscamos empoderar a los consumidores, educarlos sobre opciones más amigables con nuestro entorno 
                y apoyar a las empresas que adoptan prácticas sostenibles, contribuyendo así a un futuro mejor para la comunidad.
            </p>
        </div>

        <div class="subsection left-aligned">
            <h2>Visión</h2>
            <p>
                Nuestra visión es ser la plataforma líder en la promoción de prácticas de consumo responsable y sustentable,
                transformando la forma en que las personas eligen productos y servicios. Aspiramos a construir una comunidad global
                donde cada decisión de compra tenga un impacto positivo en el medio ambiente, y donde la sustentabilidad sea accesible,
                atractiva y una opción preferida para todos.
            </p>
        </div>
    </div>

    <!-- Segunda Sección - Equipo -->
    <section class="team">
        <h2>Nuestro Equipo</h2>

        <div class="team-member">
            <div class="member-image">
                <img src="static/images/equipo/IMG_5115.jpg" alt="Javier Alvarado">
            </div>
            <div class="member-info">
                <h3>Javier Alvarado</h3>
                <p class="role">Director Ejecutivo & Fundador</p>
                <p>
                    "Me considero emprendedor y amante de la naturaleza. 
                    Hace mucho tiempo que vengo pensando en una solución a la contaminación ambiental 
                    y es por eso que el 2024 decidí emprender nuevamente y liderar esta iniciativa, 
                    para que las personas desarrollen hábitos sustentables y así limpiemos el mundo."
                </p>
            </div>
        </div>

        <div class="team-member reverse">
            <div class="member-image">
                <img src="static/images/equipo/IMG_0480.jpg" alt="Nicolas Oliva">
            </div>
            <div class="member-info">
                <h3>Nicolas Oliva</h3>
                <p class="role">Gestor de Proyectos</p>
                <p>
                    "Me uní al equipo para aportar mi grano de arena en pos de la sostenibilidad y
                    mi experiencia en dirección de proyectos. Qué mejor que con una gran idea. 
                    Gestionaremos este proyecto con la ayuda de todos,
                    ya que es la esencia de la plataforma."
                </p>
            </div>
        </div>

        <div class="team-member">
            <div class="member-image">
                <img src="static/images/equipo/IMG_0612.jpg" alt="Jorge Allende">
            </div>
            <div class="member-info">
                <h3>Jorge Allende</h3>
                <p class="role">Director de Tecnología</p>
                <p>
                    "A lo largo de mi carrera, siempre he buscado la manera de combinar mi experiencia en 
                    tecnología con mi interés por generar un impacto positivo en el mundo. Nuestro objetivo 
                    con esta plataforma es ayudar a las personas a adoptar hábitos más sustentables y contribuir 
                    a la protección del planeta, utilizando la tecnología como herramienta clave para 
                    impulsar estos cambios."
                </p>
            </div>
        </div>

        <div class="team-member reverse">
            <div class="member-image">
                <img src="static/images/equipo/IMG_0509.jpg" alt="Raimundo Oliva">
            </div>
            <div class="member-info">
                <h3>Raimundo Oliva</h3>
                <p class="role">Gerente de Desarrollo de Software</p>
                <p>
                    "Me interesa desarrollar servicios que generen un impacto real y positivo en la comunidad.
                     Mi propósito en este equipo es aportar conocimientos en ciencias de la computación que se 
                     vean reflejados en esta plataforma. Acá cada uno importa, te invito a que construyamos un 
                     mundo mejor."
                </p>
            </div>
        </div>
    </section>
</div>

{% endblock %}