{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<body>
    <header>
        <h1>Bienvenido a tu Dashboard</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li><a href="{{ url_for('main.nosotros') }}">About Us</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        </ul>
    </nav>
    <main>
        <h2>Contenido</h2>
        <p>Aquí puedes manejar tus datos y estadísticas.</p>
        <!-- Add more dashboard-specific content here -->
        <a href="{{ url_for('main.add_ubicacion') }}" class="btn btn-primary">Añadir punto de venta</a>
    </main>
</body>

{% endblock%}