{% extends "layout.html" %}
{% block title %}Puntos de venta de la Empresa{% endblock %}
{% block content %}
<body>
    <header>
        <h1>Puntos de venta de la Empresa</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li><a href="{{ url_for('main.empresa_dashboard') }}">Empresa Dashboard</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        </ul>
    </nav>
    <main>
        <table class="table">
            <thead>
                <tr>
                    <th>Latitud</th>
                    <th>Longitud</th>
                    <th>Direccion</th>
                    <th>Es Propia</th>
                </tr>
            </thead>
            <tbody>
                {% for ubicacion in ubicacions %}
                <tr>
                    <td>{{ ubicacion.latitud }}</td>
                    <td>{{ ubicacion.longitud }}</td>
                    <td>{{ ubicacion.direccion }}</td>
                    <td>{{ ubicacion.es_propia }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
{% endblock %}