{% extends "layout.html" %}

{% block content %}
<div class="container-main d-flex">
    <!-- Sección Izquierda -->
    <div class="left-section" style="flex: 1;">
        {% block left_section %}
        <!-- Content for the left section goes here -->
        {% endblock %}
    </div>

    <!-- Sección Derecha -->
    <div class="right-section" style="flex: 4;">
        {% block right_section %}
        <!-- Content for the right section goes here -->
        {% endblock %}
    </div>
</div>
{% endblock %}